.HeaderCotainer {
  font-size: 15px;
  text-align: center;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.AppName {
    font-size: 15px;
    text-align: center;
    background-color:blue;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px;
}

.LogOutButton {
    margin-left: 10px;
    margin-right: 10px;
}

.ClearAllItemsButton {
    margin-left: auto;
    margin-right: 10px;
}

.AddItemForm {
    background-color:aquamarine;
    display: flex;
    padding: 10px;
    border: 4px dotted blue;
    display: flex;
    flex-direction: row;
}

.TitleInput {
    margin-left: 10px;
    margin-right: 10px;
}

.UrgentInput {
    margin-left: 10px;
    margin-right: 10px;
}

.ImportantInput {
    margin-left: 10px;
    margin-right: 10px;
}

.SubmitButton {
    margin-left: auto;
    margin-right: 10px;
}